<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>{{ display_name }}</string>
    <key>CFBundleIdentifier</key>
    <string>{{ bundle_id }}</string>
    <key>CFBundleShortVersionString</key>
    <string>{{ version }}</string>
    <key>CFBundleVersion</key>
    <string>{{ build }}</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>UILaunchScreen</key>
    <dict/>
</dict>
</plist>
